{% extends "template.html" %}

{% block "tagg" %}
        <table width='100%'>
        <tr align="center"><td><h2>Indice Energetico</h2></td></tr>
        <tr><td>Codigo de cliente: {{ current.codigo }}</td></tr>
        <tr><td>Edificio:{{ current.nombre_edif }}</td></tr>
        <tr><td>Fecha de relevamiento:</td></tr>
        <tr><td>Ubicacion: {{ current.direccion }}</td></tr>
        </table>
{% endblock %}

{% block "body" %}
	<table align="center">
	<tr><td align="center">
	<p>Mayor Eficiencia
	<table>
   	{% for rate in ratings %}
	<tr><td><span>{{ rate.rango }} W/m2/a</span></td>
	<td><span class="votos" style="background:#{{ rate.color }}; xdisplay: block; xfloat: center; 
	padding-right: {{ rate.i }}em"></span>
	{% if rate.msg %}
		{% ifequal rate.msg "Indice Potencial: " %}
		<span style="background:#CCCCCC; padding-right: {{ rate.pad }}em ">Ahorro</span></td>
		{%  endifequal %}
		<td>{{ rate.msg }} {{ rate.indice }}<br/>
	{% endif %}
	</td></tr>
	{% endfor %}
	</table>
	<br>Menor Eficiencia
	</td></tr>
	</table>
	<p>El Indice Actual refleja la eficiencia energetica por metro cuadrado. 
	Se calcula mediante el estudio realizado en las instalaciones. <br>
	El Indice Potencial refleja la eficiencia luego de implementar las mejoras sugeridas.
	El uso y ahorro energeticos reales dependen tambien de factores como mantenimiento, habitos laborales y el clima. Para aprender mas acerca de como ahorrar energia, visite: <a href=http://www.greenaudit.com.ar>http://greenaudit.com.ar</a></p>

{% endblock "body" %}

{% block "column" %}

	{% if edificios %}
	<p>Mis Edificios</p>
	<ul> 
		{% for edificio in edificios %}
		<li> {{ edificio }} </li>
		{% endfor %} 
	</ul>
	{% endif %}

{% endblock "column" %}
